html {
  background-color: white
}

body {
  background-color: black;
  color: white;
  /*width: 800px;*/
  /*max-width: 800px;*/
  width: 80%;
  margin: auto;

  /*padding: 1em 2em;*/
  /*tb rl*/
  /*padding: 1em 2em 3em;*/
  /*t rl b*/
  /*padding: 1em 2em 3em 4em;*/
  /*padding-top padding-right etc..*/
  padding: 2em;
  /*all sides*/
}

header {
  text-align: center;
  border-bottom: 1px inset gray;
  padding-bottom: 1em;
}

header h1 {
  font-style: italic;
  color: green;
  /*border: 1px solid black;*/
  border-width: 2px;
  border-style: dashed;
  border-color: red;
  border-bottom-width: 4px;
  border-radius: 8px;
}

header img {
  width: 300px;
}

/*p,*/
h1 {
  color: red;
  /*color: green;*/
  /*text-align: justify;*/
}

a {
  font-weight: bold;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: white;
}

a:visited {
  color: gray;
}

a:focus {
  color: yellow;
}

a:hover {
  color: fuchsia;
}

a:active {
  color: greenyellow;
}

#copyright {
  font-weight: bold;
}

nav ul,
nav li {
  display: inline;
  padding: 0;
}